
.chat_window{
    flex:3;
    display: flex;
    flex-direction: column;
}
.chat_header{
    flex:1;
    display: flex;
    justify-content:space-around;
    align-items: center;
    place-items:center;
    border-bottom: 1px solid black;
}
.chat_header .userInfo{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chat_body{
    flex:10;
    overflow-y: auto;
}
.chat_footer{
    width: 100%;
    margin: 0;
    flex:1;
    display: flex;
    flex-direction: row;
}
.chat_footer input{
    flex:6;
}
.chat_footer button{
    flex:1;
}
.msg{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    margin:5px;
    

}
.time,.text,.sender{
    margin: 0px;
}
.text{
    background-color: greenyellow;
    border-radius: 12px;
    padding: 10px;
}
.time{
    align-self: flex-end;
}
.time,.sender{
    font-size: x-small;
    opacity: .5;
}
.own{
    margin-left: auto;
}
.adminMsg{
    margin:auto;
}    

.admin{
    font-size: x-small;
    color: gray;
}
.others{
    background-color:lightgray ;
}