.side_window{
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.side_window h2{
    flex:1;
    text-align: center;
}
.search{
    flex:1;
    display: flex;
}
.search span{
    flex:1;
}
.search input{
    flex:4;
}
.group{
    flex:9;
    overflow:auto;
}
.group li{
    margin: 10px;
    padding:10px 0;
    background-color: azure;
}
.createGroup{
    width: 100%;
    margin: 0;
    flex:1.2;
    display: flex;
    flex-direction: row;
}

ul{
    padding: 0;
}
li{
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
}
.add{
  
    flex:1.2;
    text-align: center;
    font-size: 300%;
}

